<div class="modal-header">
    <h3 class="modal-title">
        <span ng-if="vm.org">修改{{vm.car.code}}</span>
        <span ng-if="!vm.org">新增{{vm.signType==1?'退役':'报废'}}车辆</span>
    </h3>
</div>
<div class="modal-body" >


<form class="form-horizontal" role="form">
  <div class="form-group">
    <label  class="col-sm-2 control-label">车牌号</label>
    <div class="col-sm-10">
      <input type="email" class="form-control"  placeholder="01xxx" ng-model="vm.car.dName">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">北斗号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="xxx总队" ng-model="vm.car.dId">
    </div>
  </div>
</form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.modalOk()">保存</button>
    <button class="btn btn-default" type="button" ng-click="vm.modalCancel()">取消</button>
</div>